<div class="sp">
  <% if @links.any? %>
    <ul class="box">
      <% @links.each do |link| %>
        <li class="box__item">
  
          <a href="<%= absolute_url(link.url) %>" class="box__link">

            <div class="box__title">
              <%= link.name %>
            </div>

            <% # This has `white-space: pre` applied, so whitespace is significant! %>
            <div class="box__url"><%= link.url %></div>

          </a>
  
          <div class="box__controls">
            <div class="box__controls__inner">

              <a href="/box/links/<%= link.id %>" class="btn btn--inline btn--sm btn--secondary box__control box__edit">Edit</a>
              
              <form class="u-inline" method="post" action="/box/links/<%= link.id %>">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete" class="btn btn--inline btn--sm btn--secondary box__control box__delete">
              </form>

            </div>
          </div>
  
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="empty-message">
      <div class="u-align-center c-secondary">
        <div class="callout callout--subtle sp">
          <p><strong>No links added yet.</strong></p>
          <p><%= quip %></p>
        </div>
        <strong>Hint:</strong> Expecting something? Make sure you're on the same network as when you added them.
      </div>
    </div>
  <% end %>
</div>

<div class="sp--lg l-block">
  <div class="l-right">
    <a href="/box/links/create" class="btn btn--primary btn--inline">Add Link</a>
  </div>
</div>
