<div class="sp">
  <% if @box.links.any? %>
    <ul class="box">
      <% @box.links.each do |link| %>
        <li class="box__item">
  
          <a href="<%= link.url %>" class="box__link">

            <div class="box__title">
              <%= link.name %>
            </div>

            <div class="box__url">
              <%= link.url %>
            </div>

          </a>
  
          <div class="box__controls">
            <div class="box__controls__inner">

              <a href="/box/links/<%= link.id %>" class="btn btn--inline btn--sm btn--secondary box__control box__edit">Edit</a>
              
              <form class="u-inline" method="post" action="/box/links/<%= link.id %>">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete" class="btn btn--inline btn--sm btn--secondary box__control box__delete">
              </form>

            </div>
          </div>
  
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="callout--empty u-align-center">
      <p class="c-secondary">No links added yet. This is awkward.</p>
    </div>
  <% end %>
</div>

<div class="sp--lg">
  <div class="l-right">
    <a href="/box/links/create" class="btn btn--primary btn--inline">Add Link</a>
  </div>
</div>
